.tile {
  width: 100%;
  position: relative;
  flex-flow: wrap;
  display: flex;
  margin-bottom: rem(20);
  text-decoration: none;

  @include mq(medium) {
    width: 50%;
  }

  @include mq(large) {
    width: calc(100%/3);
  }

  &-card {
    padding: rem(15 15 30 15);
    border-radius: rem(3);
    border: 1px solid $mercury;
    box-shadow: rem(0 0 5 0) rgba(240,240,240,1);
    transition: box-shadow 0.3s ease-in;

    &:hover {
      box-shadow: rem(0 0 5 0) lighten($gray, 20%);
    }

    @include mq(medium) {
      margin: rem(0 15);
    }
  }

  &-img {
    width: 100%;
    height: rem(200);
    margin-bottom: rem(20);
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  &-title {
    @include font-size(24);
  }
}
